$bgr-green: #779341;
$bgr-blues: #4285F4;
$bgr-white: #FFFFFF;
$bgr-light-white: rgba(255, 255, 255, 0.75);
$text-black: #000000;
$text-blues: #4285F4;
$text-gray: #808080;
$text-white: #FFFFFF;
$text-light-gray: #8D8D8D;
$text-green: #779341;